In [ ]:
import pandas as pd
df = pd.read_excel("https://docs.google.com/spreadsheets/d/e/2PACX-1vR8AS4LnU66VOzeH0nz6Vbfrw2wQ0xAipWOgwjl81fln6ihf-bXdZ-DvGFXg-ufsFyNSy120q2uPaJT/pub?output=xlsx", sheet_name="Resultados_Clase1")
df

,Nombre del mentor o mentora,Zona,Sede,Bloque,Grado,Número de semana,Nombre del estudiante,¿Realizó la actividad semanal?,Total de aciertos,Total de preguntas,Último tema visto,Comentario sobre el avance
0,Adrian Pineda Sanchez,Zona norte,DIF Pueblo Nuevo,Primera clase,Primero de secundaria,Semana 3,NaN,0.0,NaN,NaN,S3_Sumar y restar números racionales,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.dropna(how='all', inplace = True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df

,Nombre del mentor o mentora,Zona,Sede,Bloque,Grado,Número de semana,Nombre del estudiante,¿Realizó la actividad semanal?,Total de aciertos,Total de preguntas,Último tema visto,Comentario sobre el avance
0,Adrian Pineda Sanchez,Zona norte,DIF Pueblo Nuevo,Primera clase,Primero de secundaria,Semana 3,NaN,0.0,NaN,NaN,S3_Sumar y restar números racionales,NaN
1,Andrea Berenice López Cruz,Zona norte,DIF Pueblo Nuevo,Primera clase,Primero de secundaria,Semana 3,NaN,0.0,NaN,NaN,S3_Sumar y restar números racionales,NaN
2,Ángel David Ávila Pérez,Zona norte,DIF Pueblo Nuevo,Primera clase,Primero de secundaria,Semana 3,NaN,0.0,NaN,NaN,S3_Sumar y restar números racionales,NaN
3,Aranza Carrillo Márquez,Zona norte,DIF Pueblo Nuevo,Primera clase,Primero de secundaria,Semana 3,NaN,0.0,NaN,NaN,S3_Sumar y restar números racionales,NaN
4,Arnulfo Alejandro Morales Guzmán,Zona norte,Artemio Treviño,Primera clase,Primero de secundaria,Semana 3,NaN,0.0,NaN,NaN,S3_Sumar y restar números racionales,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
192,Kevin Antonio González Díaz,Zona centro,Dirección de la Juventud,Primera clase,Tercero de secundaria,Semana 5,LUIS ANGEL VÁZQUEZ LUCAS,1.0,10.0,10.0,S5_Multiplicar binomios,NaN
193,Kevin Antonio González Díaz,Zona centro,Dirección de la Juventud,Primera clase,Tercero de secundaria,Semana 5,ANGEL EDUARDO MARINES MARTINEZ,0.0,NaN,10.0,S5_Multiplicar binomios,NaN
194,Kevin Antonio González Díaz,Zona centro,Dirección de la Juventud,Primera clase,Tercero de secundaria,Semana 5,MAYA NAOMI OCHOA AVILA,1.0,9.0,10.0,S5_Multiplicar binomios,NaN
195,Kevin Antonio González Díaz,Zona centro,Dirección de la Juventud,Primera clase,Tercero de secundaria,Semana 5,PRICILA LOZANO VARGAS,0.0,NaN,10.0,S5_Multiplicar binomios,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Resultados de la clase 1
df_links = pd.read_excel("https://docs.google.com/spreadsheets/d/e/2PACX-1vR8AS4LnU66VOzeH0nz6Vbfrw2wQ0xAipWOgwjl81fln6ihf-bXdZ-DvGFXg-ufsFyNSy120q2uPaJT/pub?output=xlsx", sheet_name="Links de Quizizz")
df_links.dropna(how='all', inplace = True)
df_links.reset_index(drop=True, inplace=True)